.curricular-card {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0px;
    padding: 0.1px 0px;
  }

  .curricular-info {
    margin-right: 24px;
  }

  .curricular-links a {
    text-decoration: none;
    color: black;
  }
  .curricular-links {
    margin-top: 6px;
    display: flex;
  }
  .link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background-color: aquamarine;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 6px;
  }
  .link-button i {
    display: flex;
    align-items: center;
    margin-right: 4px;
  }
  @media only screen and (max-width: 720px) {
    .curricular-photo {
      width: 70%;
    }
    .curricular-card {
      flex-direction: column-reverse;
    }
    .curricular-info {
      margin-left: 0px;
      margin-top: 12px;
    }
    .curricular-tags {
      max-width: 100%;
    }
  }
  