.curricular-card {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px 0px;
    padding: 0.1px 0px;
    text-align: justify;
  }

  .curricular-info {
    margin-top: 18px;
  }
  .accomplish-title{
    font-size: 24px;
    font-weight: bolder;
  }

  .curricular-links a {
    text-decoration: none;
    color: rgb(22, 72, 235);
  }
  .curricular-links {
    
    /* margin-top: 6px; */
    display: flex;
    text-align: center;
    position: center;
    /* left: 50%; */
    justify-content: center;

  }
  .link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background-color: aquamarine;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 15px;
    /* margin-right: 6px; */

  }
  .link-button i {
    display: flex;
    align-items: center;
    /* margin-right: 4px; */
  }
  @media only screen and (max-width: 720px) {
    .curricular-photo {
      width: 70%;
    }
    .curricular-card {
      flex-direction: column-reverse;
    }
    .curricular-info {
      margin-left: 0px;
      margin-top: 8px;
    }
    .curricular-tags {
      max-width: 100%;
    }
  }
  