.about {
  /* height: 75vh; */
  padding-bottom: 30px;
}
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.picture {
  height: 280px;
}
.about-info {

  font-size: 35px;
  text-align: justify;
  font-weight: bold; 
  font-size: large;
  margin-bottom: 2%;
  color: rgb(19, 190, 33);
}
.info-name {
  font-size: 24px;
  color: rgb(19, 19, 204);
  text-align: justify;
}
.social1{
  margin-top: 10%;
}
@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 280px;
  }
  .about-info {
    font-size: 20px;
    font-weight: bold; 
    font-size: large;
  }
  .info-name {
    font-size: 26px;
  }
}
