.work-card {
  padding: 8px;

  width: 50%;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.work-logo {
  height: 70px;
  padding-left: 2%;
}
.work-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.work-dates {
  color: rgb(78, 231, 17);
}
.company-name{
  font-weight: bold;
  font-size: large;
}
.work-desc {
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 98%;
}
@media only screen and (max-width: 720px) {
  .work-card {
    width: 100%;
  }
}
